.link-ext {
    color: #0000EE;
    text-decoration: underline;
}

h1 {
    margin-top: 10px;
    display:inline-block;
}

#nerdySlime {
    display:inline-block;
    vertical-align: top;
    margin: 10px 0px 0px 10px;
    width:50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

#td-list-ul{
    list-style-type: none;
}

#table-cont{
    overflow-x:auto;
}

#wallFlesh {
    width: 550px;
}